body {
  background-color: #f5f5dc;
}
#main_contents {
  text-align: center;
  position: absolute;
  top: 230px;
  left: 480px;
}
#main_contents h1 {
  font-size: 50px;
}
#input_genre {
  font-size: 30px;
  margin-top: 20px;
  width: 450px;
  height: 40px;
  text-align: center;
}
#register_genre {
  margin-top: 25px;
  background: lightgray;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;
}
