.pagination_contents {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
.pagination_content {
  padding-left: 0;
  display: flex;

}
a {
  text-decoration: none;
}
.pagination_list {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 8px;
  background-color: #fff;
  margin: 0 10px 0 0;
  width: 26px;
  text-align: center
}
.prev-page {
  margin-right: 10px;
}
.next_button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
